*{
    --head-size: 130px;
    --fun-border-gradient: linear-gradient(60deg, rgb(235, 10, 10) 0%, rgb(141, 64, 20) 35%, rgb(198, 152, 0) 100%);
}
html,
body {
    width: 100vw;
    height: 100vh;
    background-image: url('galaxyBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* transition: all 2s; */
    background-color: #1d242c;
    -ms-overflow-style: none;  /* Hide scrollbar-> Internet Explorer 10+ */
    scrollbar-width: none;  /* Hide scrollbar-> Firefox */
}
body::-webkit-scrollbar{ 
    /* Hide scrollbar->  safari and chrome  */
    display: none; 
}
/*------- head div and associated keyframe  */
/*------- end head div and associated keyframe  */
/*------- git animation styles go here  --------*/
#theHead {
    /* animation: 2s fade-in 3s forwards; */
    opacity: 0%;
    animation: 2s hud2-and-head-appear 2.5s forwards;
    width: var(--head-size);
    height: var(--head-size);
    /* display: block; */
    position: absolute;
    top: 20px;
    border: #8b949e 5px solid;
    border-radius: 50%;
    padding: 3px;
    margin: 1em; 
    overflow-x: hidden;
    
}
.melshtastic {
    font-family: "orbitron";
    position: absolute;
    top: 17px;
    left: 200px;
    width: 100px;
    height: 150px;
    font-size: 140px;
    color: white;
}
.both-huds{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    top: 80px;
}
.hud1-container {
    margin: 7em 5em;
    /* width: 860px; */
    width: 910px;
    height: fit-content;
    transform: perspective(1000px) rotateX(40deg);
    transform-style: preserve-3d;
    transform-origin: bottom;
    animation: 1s rotateMore 2s ease-in-out forwards;
}
@keyframes rotateMore {
    to {
        transform: perspective(1000px) rotateX(10deg);
        transform-origin: bottom;
    }
}

.hud1-container svg {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 2em;
    left: 4em;
}

.hud1-container #images {
    transform: translateZ(295px);
    animation: 1.5s images-appear 1s ease-out forwards;
    opacity: 0%;
}
@keyframes images-appear {
    to {
        opacity: 100%;
        transform: translateZ(96px);
    }
}

.hud1-container #a {
    transform: translateZ(80px);
}

.hud1-container #b {
    transform: translateZ(60px);
}

.hud1-container #c {
    transform: translateZ(0px);
}

#images {
    display: flex;
    flex-wrap: wrap;
}

#images .object2 {
    y: 220;
}

#image_group rect {
    width: 300px;
    height: 160px;
    border: solid 2px black;
    border-radius: 1em;
    margin: 1.5em;
    opacity: 60%;
    transition: all 1s;
}

#image_group rect:hover {
    transition: all 1s;
    opacity: 100%;
}

#right_button circle,
#left_button circle {
    /* opacity: 100%; */
    fill: #7f3f98;
    stroke: rgb(41, 4, 31);
    opacity: 60%;
    animation: .7s infinite 5s alternate pulsing-circle ease-in-out;
}
@keyframes pulsing-circle {
    from {
        opacity: 60%;
        fill: #7f3f98;
    }

    to {
        opacity: 95%;
        fill: rgb(255, 206, 12);
    }
}

#images #circle_1:hover,
#images #circle_2:hover {
    transition: all 1s;
    opacity: 100%;
}


/* hud2 styles  */
.hud2-container {
    width: 700px;
    margin-top: 2.5em;
    margin-right: 3em;
    transform: perspective(500px) rotateY(0deg);
    transform-origin: center;
    transform-style: preserve-3d;
}
@media screen and (max-width: 1900px){
    .hud2-container{
        width: 500px;
        margin-top: 9em;
    }
}
@media screen and (max-width: 1750px){
    .hud2-container{
        width: 400px;
        margin-top: 9em;
    }
    .hud1-container{
        width: 700px;
        margin-left: 0.2em;
    }
}
@media screen and (max-width: 1350px){
    .hud2-container{
        width: 400px;
        margin-top: 9em;
    }
    .hud1-container{
        display: none;
    }
}
.hud2-container svg {
    position: absolute;
    top: -1em;
    opacity: 100;
    /* opacity: 0;
    animation: 2s hud2-and-head-appear 2.5s forwards; */
}
@keyframes hud2-and-head-appear {
    to{
        opacity: 100%;
    }
}
/* #hud2_symbol_used{
    width: 400px;
} */
#hud2_grid {
    transform-style: preserve-3d;
    transform: translateZ(-183px);
}
#selected_item_display rect {
    width: 280px;
    height: 159px;
    transform: translateZ(-12px);
}

#text_content rect{
    width: 67px;
    height: 22px;
}
/* .text_content .visit-buttons .visit-article{
    width: 67px;
    height: 22px;
} */
#text_content .visit-article{
    transform: translateZ(112px);
}
.article-button-text{
    font-size: 12px;
    fill: pink;
}
#primary_display_space{
    width: 300px;
    height: 160px;
    transition: all 2s;
}
.smaller-title{
    font-size: 23px;
}